body{
	color: goldenrod;
	background-color:aqua;
	font-family: cursive;
}

p {
	text-align: left;
}

h1{
	text-align: center;
  	color: maroon;
}

p{
	text-align: left;
}

.first{
	text-align: left;
}
h2{ color: red;

}
h3{color: blue;

}
h4{color: purple;

}