body{
	color: goldenrod;
	background:#00ffec;
	font-family:algerian;
	padding: 20px;
}

p {
	text-align: left;
}

h1{
	text-align: center;
  	color: maroon;
}

p{
	text-align: left;
}

.first{
	text-align: left;
}
h2{ color: red;
   text-align: left;
}
h3{color: blue;
   
}
h4{color: purple;

}
h5{color: black;}

table,th,td{
	border: 1px solid black;
	width:100%;
}
nav{text-align: right;
    justify-content:center;
    padding:0;
    margin:0;
    font-weight: bold;
}
.project{
	background-color: white;
	display: flex;
	gap:15px;
	padding: 15px;
	margin: 15px;
}  
.project
 h2{
 	color:blue;
 	margin-bottom:80px;
}
.project p{color: red}
.card{
	background-color: grey;
	border-radius: 10px;
}